@font-face {
 font-family: 'montserrat';
 src: url('../evklid/font/montserrat-bold-webfont.woff2') format('woff2'),
      url('..//evklid/font/montserrat-bold-webfont.woff') format('woff');
 font-display: swap;
 font-weight: 600;
 font-style: normal;
}

@font-face {
 font-family: 'montserrat';
 src: url('..//evklid/font/montserrat-extrabold-webfont.woff2') format('woff2'),
      url('..//evklid/font/montserrat-extrabold-webfont.woff') format('woff');
 font-weight: 800;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'montserrat';
 src: url('..//evklid/font/montserrat-regular-webfont.woff2') format('woff2'),
      url('..//evklid/font/montserrat-regular-webfont.woff') format('woff');
 font-weight: 400;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'montserrat';
 src: url('..//evklid/font/montserrat-semibold-webfont.woff2') format('woff2'),
      url('..//evklid/font/montserrat-semibold-webfont.woff') format('woff');
 font-weight: 600;
 font-style: normal;
 font-display: swap;
}

* {
 box-sizing: border-box;
 font-family: 'montserrat';
}

body {
 margin: 0px;
}

a {
 text-decoration: none;
}

ul{
 padding: 0;
 margin: 0;
 list-style: none;
}

.container {
 width: 92%;
 margin-right: auto;
 margin-left: auto;
}

.container_header {
 padding: 18px 71px 15px 74px;
 box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1);
}

.container_header_flex {
     display: flex;
     flex-direction: row;
     justify-content: space-between;   
}

.container_header-burger {
     display: none;
}

.container_header-logo {
 display: inline-block;
 height: 72px;
}

.container_header_navbar {
 display: flex;
 flex-direction: row;
 padding-top: 24px;
}

.container_header_nav_list {
 display: flex;
 flex-direction: row;
 padding-top: 1px;
}

.container_header_nav_item {
 margin-right: 76px;
}

.container_header_nav_item:hover {
     border-bottom: 2px solid #FF9900;
}

.container_header_nav_item:focus {
     border: 2px solid #FF9900;
}

.container_header_nav_item:active {
     color: #FF9900;
     border-bottom: 2px solid #FF9900;
}

.container-header_nav-link {
     font-weight: 600;
     font-size: 18px;
     line-height: 22px;
     color: #333333;
}

.container_header_search {
     padding-right: 4px;
}

.container_header_search-input {
     width: 24px;
     height: 24px;
     padding: 2px;
     border: none;
     background: url(..//evklid/img/search.svg);
}

.container_header_search-input:hover {
     background: url(..//evklid/img/status=hover.svg);
}

.container_header_search-input:focus {
     border: 1px solid #FF9900;
}

.container_hero {
     margin-bottom: 108px;
}

.container_hero_img {
     position: relative;
}

.container_hero_img_input input {
     display: none;
}

.container_hero_img_switch {
     position: absolute;
     left: 0;
     bottom: -245px;
     text-align: center;
     width: 100%;
}

.container_hero_img_switch > label {
     display: inline-block;
     width: 15px;
     height: 15px;
     margin: 0px 20px;
     cursor: pointer;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.4);
}

#btn1:checked ~ .container_hero_img_switch label:nth-of-type(1) {
     background-color: #FFFFFF;
}

#btn2:checked ~ .container_hero_img_switch label:nth-of-type(2) {
     background-color: #FFFFFF;
}

#btn3:checked ~ .container_hero_img_switch label:nth-of-type(3) {
     background-color: #FFFFFF;
}

.container_hero_img_slider_inner {
     width: 100%;
     overflow: hidden;
}

.container_hero_img_slides {
     position: relative;
}

.container_hero_img_slides-desktop {
     width: 100%;
     min-height: 620px;
     float: left;
}

.container_hero_img_slides-adaptiv {
     display: none;
     width: 100%;
     min-height: 668px;
     object-fit: cover;
}

#btn1:checked~.container_hero_img_slider_inner .slides {
     transform: translate(0);
}

#btn2:checked~.container_hero_img_slider_inner .slides {
     transform: translate(-680px);
}

#btn3:checked~.container_hero_img_slider_inner .slides {
     transform: translate(-1360px);
}

.container_hero_text {
     position: absolute;
     top: 100px;
     width: 58%;
     padding-left: 86px;
}

.container_hero_text-h1 {
     font-weight: 800;
     font-size: 70px;
     line-height: 85px;
     color:#FFFFFF;
     margin: 0px 0px 21px 0px;
}

.container_hero_text-h3 {
     font-weight: 700;
     font-size: 24px;
     line-height: 29px;
     color: #FFFFFF;
     margin: 0px 0px 90px 0px;
}

.container_hero_text-button {
     padding: 25px 44px;
     background: #FF9900;
     font-weight: 700;
     font-size: 24px;
     color: #FFFFFF;
     border: none;
     cursor: pointer;
}

.container_hero_text-button:hover {
     background: rgba(255, 153, 0, 0.7);
}

.container_hero_text-button:focus {
     background: rgba(255, 153, 0, 0.7);
}

.container_hero_text-button:active {
     background: #E1670E;
}

.container_about {
     width: 100%;
}

.container_about_text {
     margin-bottom: 48px;
}

.container_about_text-h2 {
     font-weight: 400;
     font-size: 48px;
     color: #333333;
     margin: 0px 0px 24px 0px;
}

.container_about_text-p {
     width: 70%;
     font-weight: 400;
     font-size: 16px;
     line-height: 32px;
     color: #333333;
     margin: 0px;
}

.container_about_cards {
     display: flex;
     flex-direction: row;
     width: 100%;
     margin-bottom: 104px;
}

.container_about_left {
     display: flex;
     align-items: flex-end;
     height: 622px;
     width: calc((100% - 32px) / 2);
     margin-right: 31px;
}

.container_about_left_background {
     display: flex;
     align-items: center;
     flex-direction: row;
     position: relative;
}

.about_left-img {
     width: 100%;
}

.container_about_left-text {
     position: absolute;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: space-between;
     height: 31.5%;
     background: rgba(0, 0, 0, 0.5);
     top: 68%;
     padding-left: 49px;
     padding-right: 10px;
}

.container_about_left-p {
     width: 55%;
     font-weight: 700;
     font-size: 16px;
     line-height: 32px;
     color: #FFFFFF;
     margin: 0px 0px 0px 0px;
}

.container_about_left-button {
     border: 3px solid #FF9900;
     background: none;
     padding: 17px 39px;
     font-weight: 700;
     font-size: 16px;
     line-height: 20px;
     color: #FFFFFF;
}

.container_about_left-button:hover {
     background: #FF9900;
}

.container_about_left-button:focus {
     background: #FF9900;
}

.container_about_left-button:active {
     background: #E1670E;
}

.container_about_right {
     width: calc((100% - 32px) / 2);
}

.container_about_right_item {
     display: flex;
     flex-direction: row;
     padding: 64px 58px 60px;
     border: 1px solid #cacaca;
}

.container_about_right_item:first-child {
     margin-bottom: 33px;
}

.container_about_right_item-img {
     width: 255px;
     margin-right: 52px;
}

.container_about_right_item-img img {
     width: 100%;
}

.container_about_right_item-text {
     width: 91%;
}

.container_about_right_item-h3 {
     font-weight: 700;
     font-size: 24px;
     line-height: 29px;
     color: #333333;
     margin: 0px 0px 10px 0px;
}

.container_about_right_item-p {
     width: 94%;
     font-weight: 400;
     font-size: 16px;
     line-height: 32px;
     color: #333333;
     margin: 0;
}

.howwork-stepdescription_h2 {
     font-weight: 400;
     font-size: 48px;
     line-height: 59px;
     color: #333333;
     margin: 0px 0px 49px 0px;
}

.howwork-stepdescription-step {
     margin-bottom: 47px;
}

.howwork-stepdescription-step_label {
     display: inline-block;
     font-weight: 400;
     font-size: 18px;
     color: #333333;
     cursor: pointer;
     margin-right: 80px;
}

.howwork-stepdescription-step_label:last-child {
     margin-right: 0;
}

.howwork-stepdescription-step_label:hover {
     color: #FF9900;
}

.howwork-stepdescription-step_label:focus {
     border: 1px solid #FF9900;
}

.howwork-stepdescription-step_label:active {
     color: #E1670E;
}

.howwork-stepdescription-step_input[type=radio] {
    display: none; 
}

.container_howwork {
     margin-bottom: 102px;
}

.howwork-stepdescription-container {
     display: flex;
     flex-direction: row;
     height: 100%;
}

.howwork-stepdescription-description {
     width: 45%;
     margin-right: 145px;
}

.howwork-stepdescription-description-container {
     margin-bottom: 47px;
}

.howwork-stepdescription-description_h3 {
     font-weight: 700;
     font-size: 24px;
     line-height: 32px;
     color: #333333;
     margin: 0px 0px 9px 0px;
}

.howwork-img {
     width: 52%;
     background: url(..//evklid/img/Rectangle\ 18.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     margin-top: 8px;
}

.howwork-stepdescription-description_p {
     font-weight: 400;
     font-size: 16px;
     line-height: 32px;
     color: #333333;
     margin: 0px;
}

.howwork-stepdescription-button {
     display: flex;
     flex-direction: row;
}

.stepdescription-button-details {
     background-color: #FF9900;
     padding: 20px 38px;
     margin-right: 30px;
     cursor: pointer;
}

.stepdescription-button-details_a {
     font-weight: 600;
     font-size: 16px;
     line-height: 20px;
     color: #FFFFFF;
}

.stepdescription-button-details:hover {
     background-color: #F7B045;
}

.stepdescription-button-details:focus {
     background-color: #F7B045;
}

.stepdescription-button-details:active {
     background-color: #E1670E;
}

.howwork-stepdescription-button-contract {
     padding: 20px 38px;
     border: 1px solid #333333;
     background: none;
     cursor: pointer;
}

.howwork-stepdescription-button-contract:hover {
     background: #666666;
}

.howwork-stepdescription-button-contract:focus {
     background: #666666;
     color: #FFFFFF;
}

.howwork-stepdescription-button-contract:active {
     background: #000000;
     color: #FFFFFF;
}

.howwork-stepdescription-button-contract:hover a,
.howwork-stepdescription-button-contract:focus a, 
.howwork-stepdescription-button-contract:active a {
     color: #FFFFFF;
}

.howwork-stepdescription-button-contract_a {
     font-weight: 400;
     font-size: 16px;
     line-height: 20px;
     color: #333333;
}

.container-question {
     margin-bottom: 100px;
}

.container-question-content {
     display: flex;
     flex-direction: column;
}

.question-content_h2 {
     font-weight: 400;
     font-size: 48px;
     line-height: 59px;
     color: #333333;
     margin: 0px 0px 40px 0px;
}

.question-content-item {
     display: flex;
     justify-content: space-between;
     padding-top: 40px;
     padding-bottom: 30px;
     border-top: 1px solid #cacaca;
}

.question-content-item:last-child {
     border-bottom: 1px solid #cacaca;
}

.question-content-item:hover,
.question-content-item:focus {
     border-color: #FF9900;
}

.question-content-item:hover label,
.question-content-item:focus label {
     color: #FF9900;
}

.question-content-item:hover + .question-content-item,
.question-content-item:focus + .question-content-item {
     border-top: 1px solid #FF9900;
}

.question-content-item:hover ellipse,
.question-content-item:focus ellipse {
     fill: #FF9900;
}

.question-content-item:hover path,
.question-content-item:focus path {
     fill: #FFFFFF;
}

.question-content_input, .question-content_input + label ~ div {
     display: none;
}

.question-content_input + label,
.question-content_input:checked + label {
     font-weight: 700;
     font-size: 24px;
     line-height: 32px;
     color: #333333;
     display: flex;
     justify-content: space-between;
     align-content: space-around;
}

.question-content_input:checked + label .question-content_label-svg {
     transform: rotate(-45deg);
}

.question-content_input:checked + label {
     color: #FF9900;
     cursor: pointer;
     display: flex;
     justify-content: space-between;
     align-content: space-around;
}

.question-content_input:checked + label + div {
     display: block;
    padding: 10px
}

.question-content_label-svg {
     width: 50px;
     height: 50px;
}

footer {
     background-color: #222222;
}

.container-footer {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 50px 75px;
}

.footer-first {
     width: 18%;
     margin-right: 50px;
}

.footer-first_logo {
     width: 224px;
     height: 72px;
     background-image: url(..//evklid/img/Logo\ \(1\).svg);
     margin-bottom: 23px;
     background-size: contain;
     background-repeat: no-repeat;
}

.footer-nav_link {
     font-weight: 600;
     font-size: 18px;
     line-height: 36px;
     color: #cacaca;
}

.footer-nav_item:hover a {
     color: #FF9900;
}

.footer-nav_item:focus {
     border: 2px solid #FF9900;
}

.footer-nav_item:active a {
     color: #E1670E;
}

.footer-nav {
     margin-bottom: 87px;
}

.footer-soc {
     display: flex;
     justify-content: space-between;
     width: 75%;
}

.footer-soc_logo {
     width: 60px;
     height: 60px;
     margin-right: 5px;
}

.footer-soc_logo:hover svg path {
     fill: #FF9900;
}

.footer-soc_logo:focus {
     border: 2px solid #FF9900;
}

.footer-soc_logo:active svg path {
     fill: #E1670E;
}

.footer-application {
     width: 32.3%;
}

.footer-application_h2 {
     font-weight: 400;
     font-size: 48px;
     line-height: 59px;
     color: #cacaca;
     margin: 0px 0px 25px 0px;
}

.footer-application-form {
     display: flex;
     flex-direction: column;
}

.footer-application_input {
     background-color: #414141;
     border: none;
     font-weight: 400;
     font-size: 14px;
     line-height: 32px;
     color: #cacaca;
     padding: 14px 24px;
     margin-bottom: 25px;
}

.footer-application_input:hover,
.footer-application_input:focus,
.footer-application_input:active {
     background-color: #666666;
}

.footer-application_input:active {
     color: #FFFFFF;
}

.footer-application_textarea {
     max-height: 150px;
     background-color: #414141;
     border: none;
     font-weight: 400;
     font-size: 16px;
     line-height: 32px;
     color: #cacaca;
     padding: 10px 23px;
     margin-bottom: 33px;
     resize: none;
}

.footer-application_button {
     font-weight: 700;
     font-size: 16px;
     line-height: 19.5px;
     background-color: #FF9900;
     color: #FFFFFF;
     padding: 19px 59px;
     margin-right: 5px;
     border: none;
}

.footer-application_container-a {
     display: inline-block;
     width: 44%;
}

.footer-appication_a {
     font-weight: 400;
     font-size: 11px;
     line-height: 11px;
     color: #cacaca;
}

.footer-text {
     width: 21%;
     padding: 90px 0px;
}

.footer-text_p {
     font-weight: 400;
     line-height: 32px;
     font-size: 16px;
     color: #cacaca;
     margin: 0px;
}

@media (max-width: 1683px) {
     .container_hero_text {
          width: 80%;
          top: 80px;
     }

     .container_hero_text-h3 {
          margin-bottom: 40px;
     }

     .container_about_left-p {
          font-size: 14px;
          line-height: 28px;
     }

     .container_about_left-button {
          font-size: 14px;
          padding: 17px 25px;
     }

     .container_about_left-text {
          height: 45%;
          top: 54%;
     }

}

@media (max-width: 1024px) {
     .container {
          width: 90%;
     }

     .container_header_flex {
          width: 100%;
     }

     .container_header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 13px 50px 2px;
          box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
     }

     .container_header-burger {
          display: inline;
          margin-top: 25px;
          width: 30px;
          height: 23px;
          background-image: url(..//evklid/img/Component\ 6.svg);
          margin-right: 75px;
     }

     .container_header_nav {
          display: none;
     }

     .container_header-logo {
          margin-top: 12px;
          margin-right: 10px;
     }
     
     .container_header-logo_img {
          width: 150px;
          height: 48px;
     }

     .container_hero {
          margin-bottom: 89px;
     }

     .container_hero_img_slides-desktop {
          display: none;
     }

     .container_hero_img_slides-adaptiv {
          display: inline;
     }

     .container_hero_img {
          width: 100%;
     }

     .container_hero_img_slider_inner {
          width: 100%;
     }

     .container_hero_img_slides-desktop {
          display: none;
     }

     .container_hero_img_slides {
          width: 100%;
          height: 100%;
     }

     .container_hero_text {
          width: 100%;
          padding: 165px 75px;
     }

     .container_hero_text-h1 {
          font-weight: 800;
          font-size: 60px;
          line-height: 73px;
          margin-bottom: 13px;
     }

     .container_hero_text-h3 {
          width: 82%;
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 58px;
     }

     .container_about_text-h2 {
          margin-bottom: 12px;
     }

     .container_about_text {
          margin-bottom: 62px;
     }

     .container_about_text-p {
          width: 100%;
     }

     .container_about_cards {
          flex-direction: column;
          margin-bottom: 83px;
     }

     .container_about_left {
          width: 100%;
          height: 640px;
          background-size: cover;
          margin-bottom: 32px;
          margin-right: 0px;
     }

     .container_about_left_background {
          width: 100%;
     }

     .container_about_left-img {
          width: 100%;
     }

     .container_about_left-p {
          margin-right: 175px;
     }

     .container_about_right {
          width: 100%;
     }

     .container_about_right_item {
          padding: 65px 75px 60px;
     }

     .container_about_right_item-img {
          margin-right: 51px;
     }

     .container_about_right_item-h3 {
          margin-bottom: 8px;
     }

     .container_about_right_item-p {
          width: 80%;
     }

     .howwork-stepdescription-step {
          margin-bottom: 50px;
     }

     .howwork-img {
          margin-top: 10px;
     }

     .howwork-stepdescription-description {
          width: 51%;
          margin-right: 58px;
     }

     .howwork-stepdescription-description-container {
          margin-bottom: 22px;
     }

     .container_howwork {
          margin-bottom: 85px;
     }

     .question-content_h2 {
          margin-bottom: 27px;
     }

     .question-content_input + label, .question-content_input:checked + label {
          font-size: 20px;
     }

     .container-question {
          margin-bottom: 43px;
     }

     .question-content_label-svg {
          width: 50px;
          height: 50px;
     }

     .container-footer {
          display: flex;
          justify-content: space-between;
          padding: 50px 50px 50px 49px;
     }

     .footer-first {
          width: 30%;
          margin-right: 0px;
     }

     .footer-application {
          width: 59%;
          margin-right: 0px;
     }

     .footer-soc {
          width: 85%;
     }

     .footer-text {
          display: none;
     }

     .footer-application_button {
          padding: 19px 44px;
          margin-right: 15px;
     }
}

@media (max-width: 947px) {
     .container_hero_text {
          padding-top: 15px;
     }
}

@media (max-width: 768px) {
     .container_header {
          padding-top: 11px;
          padding-bottom: 6px;
     }

     .container_header-burger {
          margin-top: 10px;
     }

     .container_header-logo {
          margin-top: 0px;
          height: 100%;
     }

     .container_header_navbar {
          padding-top: 12px;
     }

     .container {
          width: 87%;
     }

     .container_hero_text {
          padding: 131px 40px;
     }

     .container_hero_text-h1 {
          font-size: 50px;
          line-height: 60px;
          margin-bottom: 15px;
     }

     .container_hero_text-h3 {
          font-size: 18px;
          line-height: 22px;
          margin-bottom: 62px;
     }

     .container_hero_img_slides-desktop {
          display: none;
     }

     .container_hero_img_slides-adaptiv {
          display: inline;
     }
     
     .container_about_cards {
          margin-bottom: 87px;
     }

     .container_about_left {
          background-position: bottom;
          height: 100%;
     }

     .container_about_left-p {
          width: 60%;
          margin-right: 43px;
     }

     .container_about_right_item-img {
          width: 130px;
          margin-right: 15px;
          padding-top: 30px;
     }

     .container_about_right_item {
          padding: 35px 5px 30px 40px;
     }

     .container_about_right_item-p {
          width: 90%;
     }

     .howwork-stepdescription-step {
          display: flex;
          justify-content: space-between;
     }

     .howwork-stepdescription-container {
          flex-direction: column-reverse;
     }

     .howwork-img {
          height: 284px;
          width: 100%;
          margin-top: 0px;
          background-size: cover;
          margin-bottom: 40px;
          background-position: center;
     }

     .howwork-stepdescription-description {
          width: 100%;
          margin-right: 0px;
     }

     .container-question {
          margin-bottom: 30px;
     }

     .footer-nav {
          display: none;
     }

     .container-footer {
          display: flex;
          flex-direction: column-reverse;
          padding-top: 54px;
     }

     .footer-application {
          width: 81%;
          margin-bottom: 50px;
     }

     .footer-application_input {
          font-size: 16px;
     }

     .footer-application_textarea {
          margin-bottom: 28px;
     }

     .footer-application_button {
          padding: 19px 34px;
     }

     .footer-appication_a {
          font-size: 16px;
     }

     .footer-application_buttonchecked {
          display: flex;
          justify-content: space-between;
     }

     .footer-application_container-a {
          width: 53%;
          display: flex;
          align-items: center;
     }

     .footer-first_logo {
          margin-bottom: 13px;
     }

     .footer-soc {
          width: 117%;
     }
} 

@media (max-width: 611px) {
     .container_hero_text {
          padding-top: 15px;
     }

     .container_about_left-text {
          padding-left: 10px;
     }

     .container_about_left-p {
          font-size: 11px;
          line-height: 20px;
     }
}

@media (max-width: 400px) {
     .container_hero_text-h1 {
          font-size: 35px;
     }

     .container_hero_text-h3 {
          font-size: 14px;
     }
}

@media (max-width: 320px) {
     .container_header {
          padding: 17px 11px 14px 15px;
     }

     .container_header-burger {
          margin-right: 5px;
          margin-top: 6px;
     }

     .container_header-logo_img {
          width: 110px;
          height: 35px;
     }

     .container_header_navbar {
          padding-top: 7px;
     }

     .container {
          width: 90%;
     }

     .container_hero_text-h1 {
          font-size: 20px;
          line-height: 24px;
          margin-bottom: 7px;
     }

     .container_hero_text {
          /* padding: 30px 45px 0px 15px; */
          text-align: center;
          top: 10px;
     }

     .container_hero_text-h3 {
          width: 97%;
          font-size: 12px;
          line-height: 15.5px;
          text-align: center;
          margin: 0px 0px 31px;
     }

     .container_hero_text-button {
          padding: 14px 27px;
          font-size: 12px;
     }

     .container_hero_img_slides {
          height: 308px;
     }

     .container_hero_img_slides-adaptiv {
          height: 308px;
     }

     .container_about_text-h2 {
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 20px;
     }

     .container_hero {
          margin-bottom: 59px;
     }

     .container_about_text-p {
          font-size: 14px;
          line-height: 28px;
     }

     .container_about_text {
          margin-bottom: 11px;
     }

     .container_about_left {
          height: 100%;
          margin-bottom: 28px;
     }

     .container_about_left-p {
          width: 100%;
          font-size: 14px;
          line-height: 28px;
          font-weight: 400;
          color: #333333;
          margin-bottom: 10px;
     }

     .container_about_left_background {
          display: flex;
          flex-direction: column;
          width: 100%;
          padding: 0px;
     }

     .container_about_left-text {
          background: none;
          position: relative;
          flex-direction: column;
          align-items: flex-start;
     }

     .about_left-img {
          width: 100%;
     }

     .container_about_left-button {
          padding: 8px 40px;
          font-size: 12px;
          color: #FF9900;
     }

     .container_about_right_item {
          display: flex;
          flex-direction: column;
          padding: 0px;
          border: none;
     }

     .container_about_right_item-text {
          width: 100%;
     }

     .container_about_right_item-h3 {
          font-size: 18px;
          font-weight: 600;
          line-height: 22px;
          margin-bottom: 5px;
     }

     .container_about_right_item-p {
          width: 100%;
          font-size: 14px;
          line-height: 28px
     }

     .container_about_right_item-img {
          width: 64px;
          height: 60px;
          padding: 0px;
          margin-right: 0px;
          margin-bottom: 1px;
     }

     .container_about_right_item-img img {
          height: 100%;
     }

     .container_howwork {
          margin-bottom: 60px;
     }

     .howwork-stepdescription_h2 {
          font-size: 24px;
          margin-bottom: 8px;
     }

     .container_about_cards {
          margin-bottom: 48px;
     }

     .howwork-stepdescription-description-container {
          margin-bottom: 13px;
     }

     .howwork-stepdescription-step_label {
          font-size: 14px;
          margin-right: 4px;
     }

     .howwork-stepdescription-step {
          margin-bottom: 15px;
     }

     .howwork-img {
          height: 160px;
          margin-bottom: 18px;
     }

     .howwork-stepdescription-description_h3 {
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 8px;
     }

     .howwork-stepdescription-description_p {
          font-size: 14px;
          line-height: 28px;
     }

     .stepdescription-button-details_a {
          font-size: 12px;
     }

     .stepdescription-button-details {
          padding: 10px 44px;
          margin-right: 10px;
     }

     .howwork-stepdescription-button-contract {
          padding: 10px 31px;
     }

     .howwork-stepdescription-button-contract_a {
          font-size: 12px;
     }

     .container-question {
          margin-bottom: 60px;
     }


     .question-content_h2 {
          font-size: 24px;
          line-height: 29px;
          margin-bottom: 10px;
     }

     .question-content_input + label, .question-content_input:checked + label {
          width: 85%;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
     }

     .question-content-item {
          padding-top: 36px;
          padding-bottom: 25px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
     }

     .question-content_label-svg {
          width: 30px;
          height: 30px;
          margin-top: auto;
          margin-bottom: auto;
     }

     .footer-application_h2 {
          font-size: 24px;
          margin-bottom: 4px;
     }

     .container-footer {
          padding: 20px 5px 32px 15px;
     }

     .footer-application {
          width: 97%;
          margin-bottom: 15px;
     }

     .footer-application_input {
          font-size: 14px;
          padding-left: 20px;
     }

     .footer-application_textarea {
          padding: 14px 20px;
          margin-bottom: 25px;
     }

     .footer-application_buttonchecked {
          flex-direction: column;
     }

     .footer-application_button {
          width: 62%;
          font-size: 12px;
          padding: 11px 24px;
          margin: auto;
          margin-bottom: 11px;
     }

     .footer-application_container-a {
          width: 100%;
          border-bottom: 1px solid #595959;
          padding-bottom: 15px;
     }

     .footer-first {
          width: 54%;
          margin-left: auto;
          margin-right: auto;
     }

     .footer-first_logo {
          width: 131px;
          height: 42px;
          margin-left: 10px;
          margin-bottom: 17px;
     }

     .footer-soc {
          width: 97%;
     }

     .footer-soc_logo {
          width: 40px;
          height: 40px;
     }
}

@media (max-width: 319px) {
     .howwork-stepdescription-button {
          flex-direction: column;
     }

     .stepdescription-button-details {
          margin-bottom: 20px;
          margin-right: 0px;
          text-align: center;
     }

     .howwork-stepdescription-button-contract {
          text-align: center;
     }
}
