@font-face {
 font-family: 'montserrat';
 src: url('../evklid/font/montserrat-bold-webfont.woff2') format('woff2'),
      url('..//evklid/font/montserrat-bold-webfont.woff') format('woff');
 font-display: swap;
 font-weight: 600;
 font-style: normal;
}

@font-face {
 font-family: 'montserrat';
 src: url('..//evklid/font/montserrat-extrabold-webfont.woff2') format('woff2'),
      url('..//evklid/font/montserrat-extrabold-webfont.woff') format('woff');
 font-weight: 800;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'montserrat';
 src: url('..//evklid/font/montserrat-regular-webfont.woff2') format('woff2'),
      url('..//evklid/font/montserrat-regular-webfont.woff') format('woff');
 font-weight: 400;
 font-style: normal;
 font-display: swap;
}

@font-face {
 font-family: 'montserrat';
 src: url('..//evklid/font/montserrat-semibold-webfont.woff2') format('woff2'),
      url('..//evklid/font/montserrat-semibold-webfont.woff') format('woff');
 font-weight: 600;
 font-style: normal;
 font-display: swap;
}

* {
 box-sizing: border-box;
}

html {
 font-family: 'montserrat';
}

body {
 margin: 0px;
}

a {
 text-decoration: none;
}

ul{
 padding: 0;
 margin: 0;
 list-style: none;
}

main {
 width: 1770px;
 padding-left: 75px;
 padding-right: 75px;

}

.container-header {
 display: flex;
 flex-direction: row;
 width: 1920px;
 padding-left: 75px;
 padding-right: 78px;
 padding-top: 14px;
 padding-bottom: 14px;
 box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1);
}

.container_header-logo {
 display: inline-block;
 width: 224px;
 height: 72px;
 margin-right: 729px;
}

.container_header_navbar {
 display: flex;
 flex-direction: row;
 padding-top: 25px;
 padding-bottom: 25px;
}

.container_header_nav_list {
 display: flex;
 flex-direction: row;
}

.container_header_nav_item {
 font-size: 18px;
 line-height: 22px;
 color: #333333;
 margin-right: 85px;
}

.container_hero-img {
     width: 1770px;
}

.container_hero-img img {
     position: absolute;
     top: 106px;
     margin: 0 auto;
     /* opacity: 0;
     animation-name: fade;
     animation-duration: 24s;
     animation-iteration-count: infinite; */
}

/* .container_hero-img img:nth-child(1) {
     animation-delay: 0s;
}

.container_hero-img img:nth-child(2) {
     animation-delay: 8s;
}

.container_hero-img img:nth-child(3) {
     animation-delay: 16s;
} */

.container_hero_text {
     position: absolute;
     left: 80px;
     top: 100px;
     width: 917px;
     padding-left: 80px;
     padding-top: 100px;
}

.container_hero_text-h1 {
     font-weight: 800;
     font-size: 70px;
     line-height: 85px;
     color:#FFFFFF;
     margin: 0px 0px 24px 0px;
}

.container_hero_text-h3 {
     font-weight: 700;
     font-size: 24px;
     line-height: 29px;
     color: #FFFFFF;
     margin: 0px 0px 90px 0px;
}

.container_hero_text-button {
     width: 280px;
     padding: 19px 37px 19px 37px;
     background: #FF9900;
     font-weight: 700;
     font-size: 23px;
     color: #FFFFFF;
     border: none;
}

/* @keyframes fade {
     0%{ opacity: 0; }
     1%{ opacity: 1; }
     10%{ opacity: 1; }
     20%{ opacity: 1; }
     30%{ opacity: 1; }
     40%{ opacity: 1; }
     50%{ opacity: 1; }
     60%{ opacity: 0; }
     70%{ opacity: 0; }
     80%{ opacity: 0; }
     90%{ opacity: 0;}
     99%{ opacity: 0;}
     100% { opacity: 0;}
     } */